@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  color: #333;
}

.icon {
  color: #d946ef;
  transition: 0.3s ease-in-out all;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* nav bar */
.navLink {
  @apply font-semibold my-7 md:my-0 md:ml-8;
}

/* Sidebar */

.sidebar {
  z-index: 1;
  overflow-x: hidden;
  /* toggle logic */
  transform: translateX(-100%);
}
.show-sidebar {
  transform: translateX(0);
}
/* .sidebar .show-sidebar + main {
  margin-left: 15rem;
} */
.card,
.meeting,
.line {
  border: 1px solid rgba(219, 219, 219);
}

#line {
  border: 1px solid rgba(219, 219, 219);
}
.links a svg {
  font-size: 1.5rem;
  color: #64748b;
  margin-right: 1rem;
  transition: 0.3s ease-in-out all;
}
.links a:hover svg {
  color: #475569;
}
.react-calendar {
  height: 22rem;
  width: 23rem;
  padding: 1rem;
  padding-top: 3rem;
  border: 1px solid rgba(219, 219, 219);
}

/* About Page */

.container {
  /* border: 2px solid red; */
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem 0;
  background: var(--white);
  border-radius: var(--borderRadius);
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow-1);
}
.container h3 {
  margin-bottom: 2rem;
}
.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.person img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: var(--shadow-3);
}
.person h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.person p {
  color: var(--grey-500);
}

/* Leave form */
.form {
  width: 90vw;
  max-width: 600px;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
}
.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
}
.btn {
  cursor: pointer;
  color: white;
  background: #d946ef;
  border: transparent;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  text-transform: capitalize;
  display: inline-block;
}
======= .navLink {
  @apply font-semibold my-7 md:my-0 md:ml-8;
}
